body {
  background-color: #e5e5e5;
  color: #757575;
}

ul {
  list-style: none;
}
/* основной цвет шрифта #757575 */
/* вторичный цвет шрифта #212121 */
/* акцент #2196F3*/
/* вторичный цвет фона  #F5F4FA */
/* цвет фона nav #ffffff */
/*  цвет фона footer #2F303A */

/* site-nav */
